body {
    background-color: mintcream;
}
#logo {
    height: 128px;
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

h1{
    font-family: Arial;
    position: relative;
    margin-top: 0px;
    text-align: center;

}

#loginForm{
    position: realtive;
    margin: 0 auto;
    text-align: center;
    

}

submitButton{
    display: block;
    margin-top: 5px;
}

#firstBox {
    margin: auto;
    text-align: center;
    font-family: Arial;
    background-color: lightskyblue;
    border-radius: 20px;
    padding: 5px;
    width: 50%;
    white-space: nowrap;

}

#secondBox {
    margin: auto;
    text-align: center;
    font-family: Arial;
    margin-top: 25px;
    background-color:lightskyblue;
    border-radius: 20px;
    padding: 5px;
    width: 50%;
}