body {
    background-color: #282828;
    padding-top: 10%;
}
#logo {
    height: 128px;
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #FFFFFF;
    font-family: Arial;
    position: relative;
    margin-top: 0px;
    text-align: center;

}

#loginForm{
    position: realtive;
    margin: 0 auto;
    text-align: center;
    

}

.submitButton{
    padding: 10px;
    background-color: #1282F7;
    color: #282828;
    font-family: Arial;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: #21C2FE;
}

#firstBox {
    margin: auto;
    text-align: center;
    font-family: Arial;
    background-color: #181818;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    width: 50%;
    white-space: nowrap;

}

#secondBox {
    margin: auto;
    text-align: center;
    font-family: Arial;
    margin-top: 25px;
    background-color:lightskyblue;
    border-radius: 20px;
    padding: 5px;
    width: 50%;
}

.inputBox {
    background-color: #282828;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
}